<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p>Blank</p>
      
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-button (click)="loginPage()">Login</ion-button>
    <ion-button (click)="RegistryPage()">Registry</ion-button>
    <ion-button (click)="changePassPage()">Mudar senha</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="ProfilePage()">Profile</ion-button>
    <ion-button (click)="PreferencesPage()">Preferencias</ion-button>
    <ion-button (click)="FeedPage()">Feed</ion-button>
  </ion-item>
  <ion-item>
    <div>
      <h3>Grupo Albany</h3>
      <p>Thiago dos Santos Silva</p>
      <p>Gabriel Alves</p>
      <p>Bruno Matheus</p>
      <p>Daniel de Lima</p>
    </div>
  </ion-item>
</ion-content>