<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h2>Carta de apresentação</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Grupo -->
  <ion-item>
    <div>
      <h2>Grupo Albany</h2>
      <p>Thiago dos Santos</p>
      <p>Gabriel Alves</p>
      <p>Bruno Matheus</p>
      <p>Daniel de Lima</p>
    </div>
  </ion-item>
  <ion-item>
    <p>Vamos para o principal?</p>
    <ion-button (click)="goToFeed()">Feed</ion-button>
  </ion-item>
</ion-content>
