.signup-container {
    display: flex;
    /* Usado para centralizar o conteúdo */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: 100%;
    /* Altura total do contêiner */

    ion-card {
        width: 100%;
        /* Largura total do cartão */
        max-width: 400px;
        /* Largura máxima do cartão */
        padding: 16px;
        /* Espaçamento interno do cartão */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        /* Sombra do cartão */
        border-radius: 10px;
        /* Bordas arredondadas do cartão */
    }
}

.logo {
    display: block;
    /* Exibe o logo como um bloco */
    margin: 0 auto 16px;
    /* Centraliza o logo e adiciona espaçamento abaixo */
    width: 100px;
    /* Largura do logo */
    height: auto;
    /* Mantém a proporção do logo */
}

.login-link {
    margin-top: 16px;
    /* Espaçamento acima do link de login */
    text-align: center;
    /* Centraliza o texto do link */

    a {
        color: var(--ion-color-primary);
        /* Cor do link */
        text-decoration: none;
        /* Remove o sublinhado do link */
        font-weight: bold;
        /* Deixa o texto em negrito */
    }
}