<ion-header>
  <ion-toolbar>
    <!-- Botão de voltar que leva de volta ao Feed -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/feed"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Meu Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações Pessoais</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Exibe a foto de perfil, com fundo vermelho se não houver imagem -->
      <div class="profile-picture-container" [ngClass]="{'red-background': !user.profilePicture}">
        <img [src]="user.profilePicture || ''" alt="Foto de perfil" class="profile-picture">
      </div>
      <!-- Campo para o nome do usuário -->
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [(ngModel)]="user.firstName" readonly></ion-input>
      </ion-item>
      <!-- Campo para o sobrenome do usuário -->
      <ion-item>
        <ion-label position="stacked">Sobrenome</ion-label>
        <ion-input [(ngModel)]="user.lastName" readonly></ion-input>
      </ion-item>
      <!-- Campo para a data de nascimento do usuário -->
      <ion-item>
        <ion-label position="stacked">Data de Nascimento</ion-label>
        <ion-input [(ngModel)]="user.birthDate" readonly></ion-input>
      </ion-item>

      <!-- Input para o upload da foto de perfil -->
      <ion-item>
        <ion-label position="stacked">Foto de Perfil</ion-label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      </ion-item>
      <!-- Botão para remover a foto de perfil -->
      <ion-button expand="full" color="medium" (click)="removeProfilePicture()">Remover Foto de Perfil</ion-button>

      <!-- Botão para alterar a senha do usuário -->
      <ion-button expand="full" color="secondary" (click)="changePassword()">Alterar Senha</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Avaliações Feitas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- Lista de avaliações feitas pelo usuário -->
        <ion-item *ngFor="let review of user.reviews">
          <ion-label>
            <h2>{{ review.movieTitle }}</h2>
            <p>Avaliação: {{ review.rating }} estrelas</p>
            <p>{{ review.comment }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>