<ion-content class="ion-padding custom">
  <!-- Imagem no topo -->
  <div class="ion-text-center">
    <img src="../../../assets/img/logoTypes/PNG/Finder-removebg-preview.png" alt="Logo" style="max-width: 100%; height: auto; margin-bottom: 20px;" />
  </div>

  <form (ngSubmit)="onRegister()"> <!-- LÓGICA -->
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="6">
          <!-- TENTEM COLOCAR O GRADIENT NO FUNDO-->
          <!-- Input Nome -->
          <ion-item>
            <ion-input labelPlacement="floating" label="Nome" type="text" [(ngModel)]="user.firstName" [ngModelOptions]={standalone:true} placeholder="Digite seu primeiro nome" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input labelPlacement="floating" label="Sobrenome" type="text" [(ngModel)]="user.lastName" [ngModelOptions]={standalone:true} placeholder="Digite seu sobrenome" required></ion-input>
          </ion-item>
          <!-- Input Telefone (Opcional) -->
          <ion-item>
            <ion-input labelPlacement="floating" label="Telefone(opcional)" type="tel" [(ngModel)]="user.tel" [ngModelOptions]={standalone:true} placeholder="Digite seu telefone"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input labelPlacement="stacked" label="Data de nascimento" type="date" [(ngModel)]="user.birthDate" [ngModelOptions]={standalone:true} required></ion-input>
          </ion-item>
          <!-- Input Email -->
          <ion-item>
            <ion-input labelPlacement="floating" label="Email" type="email" [(ngModel)]="user.email" [ngModelOptions]={standalone:true} placeholder="Digite seu email" required></ion-input>
          </ion-item>

          <!-- Input Senha -->
          <ion-item>
            <ion-input labelPlacement="floating" label="Senha" type="password" [(ngModel)]="user.pass" [ngModelOptions]={standalone:true} placeholder="Digite sua senha" required></ion-input>
          </ion-item>

          <!-- Input Confirmar Senha -->
          <ion-item>
            <ion-input labelPlacement="floating" label="Confirmar senha" type="password" placeholder="Digite novamente sua senha" required></ion-input>
          </ion-item>      
          <!-- Botão de Registro -->
          <div class="buttonRg">
            <ion-button expand="fit" shape="round" type="submit">
              registrar
            </ion-button>
            <!-- Pergunta sobre login -->
            <p style="margin-top: 15px;" class="ion-text-center">
              Já tem uma conta? <a href="/login">Faça login</a>
            </p>
          </div>
          <!-- Checkbox para aceitar termos -->
          <div class="CheckBox">     
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Eu aceito os <a href="#">termos de uso</a></ion-label> 
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>